<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNauts</title>
    <meta name = "description" content = "Web app where you can save the books you have read, ratings and notes">
    <meta name = "keywords" content = "books rating notes covers library">
    <link href = "/styles/header.css" rel = "stylesheet">
    <link href = "/styles/footer.css" rel = "stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

    <div id = "Container">

        <div id = headerCont>
            <header>
                <div id = "header">
                    <div id = "title">BookNauts</div>
                </div>
            </header>
        </div>